@charset "UTF-8";

/*
    Paleta de cores01
    cor01: #fea926
    cor02: #fd5c2d
    cor03: #fc7400
    cor04: #892b2d
    cor05: #4e2b35
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body {
    background-color: #fc7400;
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    
    overflow: hidden;
    background-color: white;
    width: 250px;
    height: 495px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459);

    transform: translate(-50%, -50%);
    transition: width .2s, height .2s;
    transition-timing-function: ease;
}

section#login > div#imag {
    display: block;
    background: #fc7400 url(../imagens/lamp.jpg);
    background-size: cover;
    height: 200px;
}

section#login > div#formu {
    display: block;
    padding: 10px;
}

div#formu > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formu > p {
    font-size: 0.8em;
}

form > div.campo {
     background-color: #e76c01;
     border: 2px solid #e76c01;
     display: block;
     width: 100%;
     height: 40px;
     border-radius: 8px;
     margin: 5px 0px;
}

div.campo > label {
    display: none;
}

div.campo > span {
    color: rgb(235, 235, 235);
    font-size: 2em;
    border-radius: 50%;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: #f6ff79b7;
    font-size: 1em;
    width: calc(100% - 44.5px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-12px);
}

div.campo > input:focus-within {
    background-color: white;
    border: none;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #a03300;
    color: white;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #461501;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding: 7px;
    margin-top: 5px;
    background-color: white;
    border: 1px solid #461600;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

form > a.botao:hover {
    background-color: #af5200;
}

form > a.botao > span {
    font-size: 1em;
}
